.title, h1, h2, h3, h4 {
  font-family: "Poppins";
  color: var(--txt-primary-color);
}
.title-big {
  font-weight: 900;
  font-size: 3.6rem;
  @include media(small) {
    font-size: 5.6rem;
  }
  @include media(large) {
    font-size: 9.6rem;
  }
}
.title-medium, h2 {
  font-size: 2.9rem;
  font-weight: bold;
}
strong{
  font-family: "Poppins";
  font-weight: 700;
}
