.post-18{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
min-height: calc(100vh - 11.2rem);
background-color: var(--bkg-primary-color);
}
.login-remember{
    input{
       width: initial !important;
    }
}
