:root {
  font-size: 62.5%;
  --bkg-primary-color: #0d0d0d;
  --bkg-secondary-color: #111111;
  --bkg-tertiary-color: #fff;
  --txt-primary-color: #fff;
  --links-primary-color: #f9c653;
  --links-secondary-color: #111111;
  --links-bkg-hover-color: #111111;
  --links-bkg-txt-color: #f9c653;
  --border-primary-radius: 0.9rem;
  --box--shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.10);
  scroll-behavior: smooth;
}
html{
  scroll-padding-top: 300px;
}
