:root {
  font-size: 62.5%;
  --bkg-primary-color: #0d0d0d;
  --bkg-secondary-color: #111111;
  --bkg-tertiary-color: #f4f4f4;
  --txt-primary-color: #f4f4f4;
  --links-primary-color: #f9c653;
  --links-bkg-hover-color: #111111;
  --links-bkg-txt-color: #f9c653;
}
