.header {
  background-color: var(--bkg-tertiary-color);
  box-shadow: var(--box--shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  &__burgerIcon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    img {
      filter: invert(0%) sepia(1%) saturate(7430%) hue-rotate(5deg)
        brightness(2%) contrast(90%);
    }
    @include media(medium) {
      display: none;
    }
  }
  &__content {
    display: none;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.212);
    margin-top: 1.1rem;
    padding: 5rem 0;
    gap: 1.5rem;
    @include media(medium) {
      margin: 0;
      display: flex;
      padding: 0;
      border: none;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &Nav {
    display: flex;
    flex-direction: column;
    &__block {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      @include media(medium) {
        flex-direction: row;
        gap: 3.2rem;
      }
    }
  }
  a {
    font-size: 2rem;
    font-family: "Poppins";
    font-weight: 600;
    color: var(--links-secondary-color);
    transition: all 0.3s;
    &:nth-child(2) {
      color: var(--links-primary-color) !important;
      &:hover {
        color: var(--links-secondary-color) !important;
      }
    }
    &:hover{
      color: var(--links-primary-color) ;

    }
  }
  &__btn {
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
  }
}
/* .headerMobileOpen{
  display: flex;
} */
