.btn{
    box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
    padding: 8px 23px;
    min-width: 13.2rem;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 1.6rem;
    border-radius: var(--border-primary-radius);
    transition: all 0.6s;
    &:hover{
        transition: all 0.6s;
    }
}
.btn-primary{
    background-color: var(--links-primary-color);
    color: var(--links-secondary-color);
    border: none;
    &:hover{
        background-color:var(--links-secondary-color) ;
        color: var(--links-primary-color);
        transition: all 0.6s;
    }
}
.btn-secondary{
    border: 1px solid var(--links-primary-color);
    color: var(--links-primary-color);
    background-color: transparent;
    &:hover{
       border-color: transparent;
        background-color: var(--links-bkg-txt-color);
        color: var(--links-secondary-color);
    }
}
