.sp-testimonial-free {
    margin: auto;
    @include media(small){
    max-width: 500px;
    @include media(medium){
        max-width: 800px;
    }
  }
  .sp-testimonial-client-designation, .sp-testimonial-post-title, .sp-testimonial-client-name {
    color: var(--txt-primary-color) !important;
  }


  .sp-testimonial-client-designation {
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 1.8rem !important;
    color: var(--txt-primary-color);
  }
}

.swiper-button-prev,
.testimonial-nav-arrow {
  display: none !important;
}
 .tfree-client-image, .wp-post-image{
        object-fit: contain !important;
}
